//
// Variables
// --------------------------------------------------

//== Colors
//
//## Colors for use across the site.

$black:                             #000;
$white:                             #fff;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// $ff-headers:                       'Vm Headers regular', Helvetica, Arial, sans-serif !default;
// $ff-headers-bold:                  'Vm Headers Bold', Helvetica, Arial, sans-serif !default;
// $ff-text:                          'Vm Text Regular', Helvetica, Arial, sans-serif !default;
// $ff-text-bold:                     'Vm Text Bold', Helvetica, Arial, sans-serif !default;


//** breakpoints start
$xs-breakpoint:                     320px;
$sm-breakpoint:                     481px;
$md-breakpoint:                     640px;
$lg-breakpoint:                     767px;
$xl-breakpoint:                     1280px;
