extends _modules/layout
block body
  main(ng-cloak).main
    .container
      section
        h1 Turtle facts Quiz
        h2 Learn about turtles below
        div(ng-controller="listCtrl as list") {{list.title}}   