extends _modules/layout
block body
  main(ng-cloak).main
    .container
      section.quiz
        h1 Turtle facts Quiz
        h2 Learn about turtles below
        section(ng-controller="ListCtrl as list" ng-hide="list.quizMetircs.quizActive")
          .well.well-sm.clearfix
            form.form-inline.pull-right
              span.glyphicon.glyphicon-search
               input(type="text" placeholder="Search.." ng-model="list.search").form-control
            button(type="button" ng-click="list.activateQuiz()").btn.btn-warning
              strong Start Quiz
          .row
            .col-sm-6(ng-repeat="item in list.data | filter:list.search")
              .well.well-sm
                .row
                  .col-md-6
                    img(ng-src="{{item.imageUrl}}" title="{{item.type}}" alt="{{item.type}}").img-item.img-rounded.img-responsive
                  .col-md-6
                    h4 {{item.type}}
                    p
                      strong Location: 
                      | {{item.locations}}
                    p
                      strong Size: 
                      | {{item.size}}
                    p
                      strong Average Lifespan: 
                      | {{item.lifespan}}
                    p
                      strong Diet: 
                      | {{item.diet}}
                    button(data-toggle="modal" data-target="#item-info"
                    ng-click="list.changeActiveItem(item)").btn.btn-primary.pull-right Learn more
          #item-info.modal
            .modal-dialog
              .modal-content
                .modal-header
                  h2 {{list.activeItem.type}}
                .modal-body
                  .row
                    .col-xs-8.col-xs-offset-2
                      img(ng-src="{{list.activeItem.imageUrl}}" alt="{{list.activeItem.type}}" title="{{list.activeItem.type}}").img-rounded.img-responsive
                      br
                      br
                  .row
                    .col-xs-12
                      p
                        strong Location: 
                        | {{list.activeItem.locations}}
                      p
                        strong Size: 
                        | {{list.activeItem.size}}
                      p
                        strong Average Lifespan: 
                        | {{list.activeItem.lifespan}}
                      p
                        strong Diet: 
                        | {{list.activeItem.diet}}
                      h3 Description:
                      p {{list.activeItem.description}}
                      button(data-dismiss="modal").btn.btn-danger.pull-right Close
        section(ng-controller="QuizCtrl as quiz" ng-show="quiz.quizMetircs.quizActive")
          h3 Turtle Facts Quiz
          .row
            .col-xs-8
              h4 Progress:
              .btn-toolbar
                button(ng-repeat="question in quiz.questions" 
                  ng-class="{'btn-info': question.selected, 'btn-danger': !question.selected()}").btn
                  span(ng-class="{'glyphicon-pencil': question.selected, 'glyphicon-question-sign': !question.selected}").glyphicon
            .col-xs-4
              .row
                h4 Legend:
                .col-sm-4
                  button.btn.btn-info
                    span.glyphicon.glyphicon-pencil
                  p Answered
                .col-sm-4
                  button.btn.btn-danger
                    span.glyphicon.glyphicon-question-sign
                  p Unanswered
          .row
            h3 Question:
            .well.well-sm.questions
              .row
                .col-xs-12
                  h4 {{quiz.activeQuestion + 1 + '. ' + quiz.questions[quiz.activeQuestion].text}}
                  .row
                    div(ng-repeat="answer in quiz.questions[quiz.activeQuestion].possibilities").col-sm-6
                      button.btn.btn-success {{answer.answer}}
            button(ng-click="quiz.questionAnswered()").btn.btn-warning Continue