extends _modules/layout
block body
  .wrapper(ng-cloak)
    //- include _modules/header
    main.main
      .container
        section.section-chat(ng-controller="chatCtrl as chat")
    //- include _modules/footer