extends _modules/layout
block body
  main(ng-cloak).main
    .container
      section.quiz
        h1 Turtle facts Quiz
        h2 Learn about turtles below
        section(ng-controller="ListCtrl as list" ng-hide="list.quizMetircs.quizActive || list.quizMetircs.resultsActive")
          .well.well-sm.clearfix
            form.form-inline.pull-right
              span.glyphicon.glyphicon-search
                input(type="text" placeholder="Search.." ng-model="list.search").form-control
            button(type="button" ng-click="list.activateQuiz()").btn.btn-warning
              strong Start Quiz
          .row
            .col-sm-6(ng-repeat="item in list.data | filter:list.search")
              .well.well-sm
                .row
                  .col-md-6
                    img(ng-src="{{item.imageUrl}}" title="{{item.type}}" alt="{{item.type}}").img-item.img-rounded.img-responsive
                  .col-md-6
                    h4 {{item.type}}
                    p
                      strong Location: 
                      | {{item.locations}}
                    p
                      strong Size: 
                      | {{item.size}}
                    p
                      strong Average Lifespan: 
                      | {{item.lifespan}}
                    p
                      strong Diet: 
                      | {{item.diet}}
                    button(data-toggle="modal" data-target="#item-info"
                    ng-click="list.changeActiveItem(item)").btn.btn-primary.pull-right Learn more
          #item-info.modal
            .modal-dialog
              .modal-content
                .modal-header
                  h2 {{list.activeItem.type}}
                .modal-body
                  .row
                    .col-xs-8.col-xs-offset-2
                      img(ng-src="{{list.activeItem.imageUrl}}" alt="{{list.activeItem.type}}" title="{{list.activeItem.type}}").img-rounded.img-responsive
                      br
                      br
                  .row
                    .col-xs-12
                      p
                        strong Location: 
                        | {{list.activeItem.locations}}
                      p
                        strong Size: 
                        | {{list.activeItem.size}}
                      p
                        strong Average Lifespan: 
                        | {{list.activeItem.lifespan}}
                      p
                        strong Diet: 
                        | {{list.activeItem.diet}}
                      h3 Description:
                      p {{list.activeItem.description}}
                      button(data-dismiss="modal").btn.btn-danger.pull-right Close
        section(ng-controller="QuizCtrl as quiz" ng-show="quiz.quizMetircs.quizActive")
          h3 Turtle Facts Quiz
          .row
            .col-xs-8
              h4 Progress:
              .btn-toolbar
                button(ng-repeat="question in quiz.questions"
                ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null, 'btn-active': $index == quiz.activeQuestion}" ng-click="quiz.setActiveQuestion($index)").btn
                  span(ng-class="{'glyphicon-pencil': question.selected !== null, 'glyphicon-question-sign': question.selected === null}").glyphicon
            .col-xs-4
              .row
                h4 Legend:
                .col-sm-4
                  button.btn.btn-info
                    span.glyphicon.glyphicon-pencil
                  p Answered
                .col-sm-4
                  button.btn.btn-danger
                    span.glyphicon.glyphicon-question-sign
                  p Unanswered
          .row
            div(ng-show="quiz.error").alert.alert-danger
              | Error! You have not answered all of the questions!
              button(ng-click="quiz.error = false").close &times;
            h3 Question:
            button(ng-click="quiz.questionAnswered()").btn.btn-warning.pull-right Continue
            .well.well-sm.questions
              .row
                .col-xs-12
                  h4 {{quiz.activeQuestion + 1 + '. ' + quiz.questions[quiz.activeQuestion].text}}
                  div(ng-if="quiz.questions[quiz.activeQuestion].type === 'text'").row
                    div(ng-repeat="answer in quiz.questions[quiz.activeQuestion].possibilities").col-sm-6
                      button(ng-class="{'btn-info': $index == quiz.questions[quiz.activeQuestion].selected}"
                      ng-click="quiz.selectAnswer($index)").btn {{answer.answer}}
                  div(ng-if="quiz.questions[quiz.activeQuestion].type === 'image'").row
                    div(ng-repeat="answer in quiz.questions[quiz.activeQuestion].possibilities").col-sm-6
                      .image-answer(ng-click="quiz.selectAnswer($index)" ng-class="{'image-selected': $index == quiz.questions[quiz.activeQuestion].selected}")
                        img(ng-src="{{answer.answer}}").img-responsive.img-rounded
            div(ng-show="quiz.finalise").well.well-sm
              .row
                .col-xs-12
                  h3 Are you sure you want to submit your nanswers?
                  buttton(ng-click="quiz.finaliseAnswers()").btn.btn-success Yes
                  buttton(ng-click="quiz.finalise = false").btn.btn-danger No
        section(ng-controller="ResultsCtrl as results" ng-show="results.quizMetrics.resultsActive")
          .row
            .col-xs-8
              h2 Results:
              .btn-toolbar
                button(ng-click="results.setActiveQuestion($index)" ng-repeat="question in results.data.data" ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}").btn
                  span(ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct}").glyphicon
            .col-xs-4
              .row
                h4 Legend:
                .col-sm-4
                  button().btn.btn-success
                    span.glyphicon.glyphicon-ok
                  p Correct
                .col-sm-4
                  button.btn.btn-danger
                    span.glyphicon.glyphicon-remove
                  p Incorrect
          .row
            .col-xs-12
              h2 You Scored {{results.quizMetrics.numCorrect}} / {{results.data.questions.length}}
              h3
                strong {{results.calculatePerc() | number:2}} %
          .row
            h3 Questions:
            .well.well-sm.questions
              .row
                .col-xs-12
                  h4 {{results.activeQuestion + 1 + '. ' + results.data.questions[results.activeQuestion].text}}
                  div(ng-if="results.data.questions[results.activeQuestion].type === 'text'").row
                    div(ng-repeat="answer in results.data.questions[results.activeQuestion].possibilities").col-sm-6
                     button(ng-class="results.getAnswerClass($index)").btn {{answer.answer}}
                        p(ng-show="$index !== results.quizMetrics.correctAnswers[results.activeQuestion] && $index === results.data.questions[results.activeQuestion].selected").pull-right Your Answer
                        p(ng-show="$index === results.quizMetrics.correctAnswers[results.activeQuestion]").pull-right Correct Answer
                  div(ng-if="results.data.questions[results.activeQuestion].type === 'image'").row
                    div(ng-repeat="answer in results.data.questions[results.activeQuestion].possibilities").col-sm-6
                      button(ng-class="results.getAnswerClass($index)").btn
                        img.image-answer(ng-src="{{answer.answer}}")